<div style="height: 100%; overflow-y: scroll">
  <ng-container [ngSwitch]="listType">
    <ul nz-list [nzDataSource]="resoureceList" nzBordered nzSize="large">
      <nz-list-header>
        {{ this.appService.currentActiveResouce.label }}
        <nz-pagination
          [nzPageIndex]="currentpage"
          [nzTotal]="200"
          (nzPageIndexChange)="changePageHandler($event)"
          [nzDisabled]="!this.searchService.searchKey"
        ></nz-pagination
      ></nz-list-header>
      <nz-spin nzTip="Loading..." *ngIf="isLoading">
        <nz-alert
          nzType="info"
          nzMessage="Searching for results"
          nzDescription="Please wait, dont refresh the page."
        ></nz-alert>
      </nz-spin>
      <ng-container *ngSwitchCase="'CONTAIN_FILE'">
        <nz-list-item *ngFor="let item of resoureceList">
          <nz-list-item-meta>
            <nz-list-item-meta-avatar
              [nzSrc]="item.Url || item.Poster"
            ></nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
              <a style="pointer-events: none">{{ item.Name }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              [ {{ item.Genre }} ] : <span>Language: {{ item.Language }}</span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <ul nz-list-item-actions *ngIf="item.Files">
            <nz-list-item-action
              ><span *ngIf="item.Files[0]?.Size && item.Files[0]?.Quality"
                >(Size: {{ item.Files[0].Size }} Quality:
                {{ item.Files[0].Quality }})
                <a
                  ><span
                    nz-icon
                    nzType="medium-square"
                    nzTheme="fill"
                  ></span></a></span
            ></nz-list-item-action>
            <nz-list-item-action
              ><span *ngIf="item.Files[1]?.Size && item.Files[1]?.Quality"
                >(Size: {{ item.Files[1].Size }} Quality:
                {{ item.Files[1].Quality }})
                <a
                  ><span
                    nz-icon
                    nzType="medium-square"
                    nzTheme="fill"
                  ></span></a></span
            ></nz-list-item-action>
            <nz-list-item-action><span> </span></nz-list-item-action>
          </ul>
        </nz-list-item>
      </ng-container>
      <ng-container *ngSwitchCase="'SIMPLE'">
        <li nz-list-item *ngFor="let item of resoureceList" nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a> Magnet </a>
              <span>
                Size <strong>{{ item.Size }}</strong></span
              >
              <span> L :{{ item.Leechers }} </span>
              <span> S :{{ item.Seeders }} </span>
            </nz-list-item-action>
          </ul>
          <strong style="color: #000000d9"> {{ item.Name }}</strong>
          <span *ngIf="item.Category">[{{ item.Category }}]</span>
        </li>
      </ng-container>
      <nz-list-footer> </nz-list-footer>
    </ul>
  </ng-container>
</div>
