.ant-list-bordered.ant-list-lg .ant-list-footer,
.ant-list-bordered.ant-list-lg .ant-list-header,
.ant-list-bordered.ant-list-lg .ant-list-item {
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
}

.healthStyle {
    margin-left: 8px;
    padding: 2px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.resourceName {
    margin-right: 8px;
    font-weight: bold;
    font-style: italic;
}

.spinnerContainer{
    position:absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    background: rgba(20, 20, 20, 0.6);
}

.ant-list-item-meta {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 100%;
    align-content: center;
}