<nz-spin nzTip="Loading..." *ngIf="isLoading">
  <nz-alert
    nzType="info"
    nzMessage="Adding the data"
    nzDescription="Please wait, dont refresh the page."
  ></nz-alert>
</nz-spin>
<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Magnet!">
      <nz-input-group nzPrefixIcon="link">
        <input
          type="text"
          nz-input
          formControlName="magnet"
          placeholder="Magnet URL"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
    [disabled]="isLoading"
  >
    Add Magnet
  </button>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          formControlName="userName"
          placeholder="Username"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
<div *ngIf="imgData">
  <ng-container *ngFor="let image of imgData">
    <img width="300" height="300" [src]="image.path" alt="img">
  </ng-container>
</div>
