<button
  nz-button
  nzType="primary"
  nzSize="small"
  nzSearch
  (click)="prevPage()"
  style="margin: 4px"
>
  Previous Page
</button>
<strong> Page {{ page + 1 }} </strong>
<button
  nz-button
  nzType="primary"
  nzSize="small"
  nzSearch
  (click)="nextPage()"
  style="margin: 4px"
>
  Next Page
</button>
<nz-spin nzTip="Loading..." *ngIf="isLoading">
  <nz-alert
    nzType="info"
    nzMessage="Loading the data"
    nzDescription="Please wait, dont refresh the page."
  ></nz-alert>
</nz-spin>
<div *ngIf="imgData" class="imgContainer">
  <ng-container *ngFor="let image of imgData">
    <nz-card
      style="width: 250px; margin: 0.5rem; border: 1px solid #9d8f9d63"
      [nzCover]="poster"
      [nzBorderless]="true"
      [nzActions]="[actionDelete, actionLink, actionLink2, actionSeeder]"
    >
      <nz-card-meta
        nzTitle="{{ image.Name }}"
        nzDescription="HD: {{ image?.Files[0]?.Size }} | UHD: {{
          image?.Files[1]?.Size
        }}"
      ></nz-card-meta>
    </nz-card>

    <ng-template #poster>
      <img alt="poster" [src]="image.path" />
    </ng-template>
    <ng-template #actionDelete>
      <a
        nz-popconfirm
        nzPopconfirmTitle="Are you sure?"
        nzOkText="ok"
        nzCancelText="cancel"
        (nzOnConfirm)="actionHandler(image, 'delete')"
        (nzOnCancel)="actionHandler('', 'cancel')"
      >
        <span nz-icon nzType="delete"> </span>
      </a>
    </ng-template>
    <ng-template #actionLink>
      <span
        *ngIf="image.Files[0]"
        nz-icon
        nzType="link"
        (click)="actionHandler(image.Files[0].Magnet, 'copyLink')"
      ></span>
    </ng-template>
    <ng-template #actionLink2>
      <span
        *ngIf="image.Files[1]"
        nz-icon
        nzType="link"
        (click)="actionHandler(image.Files[1].Magnet, 'copyLink')"
      ></span>
    </ng-template>
    <ng-template #actionSeeder>
      <span
        nz-icon
        nzType="ellipsis"
        (click)="actionHandler(image, 'more')"
      ></span>
    </ng-template>
  </ng-container>
</div>
